/* NAVBAR */
#title{
  background-color: #dcffcc;
  width: 1592px;

}

.container-fluid{
  padding: 3% 15%;
  text-align:right;
  background-color: #dcffcc;
  z-index: 0;

}

.navbar-brand{
  position: relative;
  margin-right: 45px;
  font-size: 25px;
  font-family: 'Reggae One', cursive;
}
.navbar-nav{
  padding-left: 80px;

}
.nav-link:hover{

background-color: #28df99;

}
.sticker{
  width: 45px;
  text-align: right;
  margin-left: 160px;
}
.h{
  font-family: 'Ubuntu', sans-serif;
}
.photo{
  position: absolute;
  width: 1250px;
  padding-left: 850px;
  top: 195px;
}
.logo{
  position: absolute;
  padding: 3% 15%;
  width: 151.6875px;
  margin-right: 50px;padding-right: 60px;right: -70;right: 45px;bottom: 2.5;bottom: 2.25;bottom: 2.2;bottom: 2.1;bottom: 2px;top: 1px;"

}


/* TITLE PAGE*/

.content{
  padding: 3% 15%;
  margin-top: 5px;
  text-align:left;
}
.lorem{
  line-height: 0.01px;
}
.btn{
  margin-top: 40px;
}
.plane{
  width: 400px;
  padding-left: 200px;
}


/* ABOUT US */

#about{
  width: 1600px;
  background-color: black;
  color: white;
  width: 1592px;
  height: 800px;

}
.mug{
  position: absolute;
  width: 450px;
  padding-left: 120px;
}
.about-us{
padding-left: 45%;
padding-top: 250px;
}
.text{
  font-size: 3rem;
  	color:#FFFFFF;
  	font-weight: 400;
    padding-bottom: 25px;
}
.lorem{
  font-size: 0.8rem;
}
.ABOUT{
  color: #ade498;
font-family: 'Oswald', sans-serif;
	width: 50%;
  font-size: 5rem;
}
.photo2{
  position: absolute;
  padding-left: 15%;
  top: 1082px;
}

.gif{
  padding-left: 1100px;
    width: 1500px;
}
.BUTTON_SVP {
   background: #1ED0C8;
   background-image: -webkit-linear-gradient(top, #1ED0C8, #3DF656);
   background-image: -moz-linear-gradient(top, #1ED0C8, #3DF656);
   background-image: -ms-linear-gradient(top, #1ED0C8, #3DF656);
   background-image: -o-linear-gradient(top, #1ED0C8, #3DF656);
   background-image: -webkit-gradient(to bottom, #1ED0C8, #3DF656);
   -webkit-border-radius: 43px;
   -moz-border-radius: 43px;
   border-radius: 43px;
   height: 12px;
   line-height: 12px;
   color: #FFFFFF;
   font-family: Garamond;
   width: 192px;
   font-size: 23px;
   font-weight: 400;
   padding: 19px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #99C624 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   height: 48px;
    width: 208px;
    margin-top: 25px;

}

.BUTTON_SVP:hover {
   border: ridge #99C624 1px;
   background: #F0F63D;
   background-image: -webkit-linear-gradient(top, #F0F63D, #59D01E);
   background-image: -moz-linear-gradient(top, #F0F63D, #59D01E);
   background-image: -ms-linear-gradient(top, #F0F63D, #59D01E);
   background-image: -o-linear-gradient(top, #F0F63D, #59D01E);
   background-image: -webkit-gradient(to bottom, #F0F63D, #59D01E);
   -webkit-border-radius: 26px;
   -moz-border-radius: 26px;
   border-radius: 26px;
   text-decoration: none;
}


/* SERVICES */

#services{
	box-sizing: border-box;
	font-family: calibri;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

  background-color: #bbf1c8;
  width: 1592px;
  height: 800px;

}
.all{
  b
}
.gif2{
  position: absolute;
  padding-left: 120px;
  padding-left: 0px;
    padding-bottom: 600px;;
    padding-top: 120px;
    width: 950px;
padding-right: 800px;


}

.s-heading h1{
	color:black;
	font-size: 4.5rem;
	margin: 0px;
	padding: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
 padding-bottom: 100px;
color: #2ec1ac;
padding-top: 100px;

}

.s-heading{
	text-align: center;
	margin: 20px 0px;
}
.s-box{
	background-color: #2B2B2B;
	width:350px;
	height: 400px;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
	position: relative;
}
.b-container{
	display: flex;
	justify-content: center;
	align-content: center;
  padding-bottom: 60px;



}
.s-b-img{
	width: 100%;
	height: 70%;

}
.s-b-img img{
	width:100%;
	height: 100%;

}
.s-b-text{
	width: 100%;
	height: 30%;
	background-color:#1E1E1E;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.s-b-text a{
	margin: 0px;
	color:#FFFFFF;
	font-size: 1.1rem;
	font-family: calibri;
	display: block;
    display: -webkit-box;
	max-width: 80%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.s-b-text a:hover{
	color:rgba(255,255,255,0.50)
}
.s-type{
	font-family: calibri;
	color:#FFFFFF;
	background-color: #151515;
	padding: 10px 15px;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 18px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.s-box:hover{
	transform:translateY(-10px);
	transition: all ease 0.3s;
}


/* Portfolio */
#Portfolio{
  background-color: #1b1919;
}
.head{
  text-align: center;
  color: #bbf1c8;
  padding-top: 50px;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  font-weight: bolder;

}
.gif3{
  position: absolute;
  width: 850px;;
  padding-left: 650px;
  padding-top: 300px;
}
.gif4{
  position: absolute;
  width: 200px;
}
.gif5{
  position: absolute;
  width: 150px;

}
.image{
  width:350px;
  height: 200px;
  padding-left: 5px;
  padding-bottom: 10px;
  border-radius: 25px;
  background-color: white;

}
.image:hover{
  transform:translateY(-15px);
	transition: all ease 0.4s;
  color:rgba(255,255,255,0.50);
}
.flex-item{
  padding-left: 15px;
}
.flex-container{
  width: 1592px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 3% 15%;
  background-color: #1b1919;
  text-decoration:

}


/* contact */

#form{
  background-color: #686d76;
}
.contact{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;



}
.cnt{
  color:#FFFFFF;
	font-size: 1rem;
	font-family: calibri;
	width:150px;
	height: 40px;
	margin: 10px;
	background-color: #1E1E1E;
	border: none;
	outline: none;
	box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
  margin-left: 690px;
  margin-bottom: 30px;
  text-decoration: none;


}
.cnt:hover{
  color: black;
  background-color: #94ebcd;
}
